.idea
.env.prod
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
.phpunit.result.cache
/public/bundles/
composer.lock
.phpcs-cache
/vendor/
/var/
_docker/services/
migrations